<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>${project.name} ${project.version}, ${buildNumber}</display-name>
	<description>GeoViQua Greenland</description>
	<servlet>
		<servlet-name>CapabilitiesProxy</servlet-name>
		<servlet-class>org.n52.greenland.proxy.CapabilitiesProxy</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>THREDDSProxy</servlet-name>
		<servlet-class>org.n52.greenland.proxy.THREDDSProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CapabilitiesProxy</servlet-name>
		<url-pattern>/wmsproxy</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>THREDDSProxy</servlet-name>
		<url-pattern>/threddsproxy</url-pattern>
	</servlet-mapping>

	<jsp-config>
		<taglib>
			<taglib-uri>http://java.sun.com/portlet_2_0</taglib-uri>
			<taglib-location>/WEB-INF/tld/liferay-portlet.tld</taglib-location>
		</taglib>
	</jsp-config>

</web-app>